<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <script src="/script/Toast.js" defer></script>
    <script src="https://kit.fontawesome.com/5684532330.js" crossorigin="anonymous"></script>
    <script src="/script/signup/Signup.js" defer></script>
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
</html>