{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="/css/config.css">
<script src="/script/config/Config.js" defer></script>
{% endblock head%}

{% block body%}
<input type="text" value="{{preferences}}" class="preferences" hidden>
<header>
    <nav>
        <ul class="container_actions">
            <li>
                <a href="/" class="fa fa-gamepad fa-2x pressable"></a>
            </li>
            <li>
                <a href="/logout" class="popup">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container_update_user">
        <h2>Informações do usuário</h2>
        <form action="" method="put">
            <input type="text" placeholder="Nome" minlength="3" required>
            <button>Salvar preferências</button>
        </form>
    </div>
</main>
{% endblock body%}