{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="/css/game.css">
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script/Models.js" defer></script>
<script src="/script/View.js" defer></script>
<script src="/script/Client.js" defer></script>
<script src="/script/base.js"></script>
{% endblock head%}
{% block body%}
<header class="suspense_menu">
    <nav>
        <ul>
            <li class="title">
                <img src="/img/favicon.png" alt="icone">
                <h2>Creative</h2>
            </li>
            <li>
                <a href="/config" class="popup">
                    <i class="fa fa-gear fa-2x"></i>
                    <span>Configurações</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="display">
    <canvas></canvas>
</div>
{% endblock body%}