{% extends "base.html" %}    
{% block head%}
<link rel="stylesheet" href="/css/game.css">
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script/Models.js" defer></script>
<script src="/script/View.js" defer></script>
<script src="/script/Client.js" defer></script>
{% endblock head%}
{% block body%}
<header>
    <nav>
        <ul>
            <li><a href="/config" class="pressable fa fa-gear fa-2x"></a></li>
        </ul>
    </nav>
</header>
<div class="display">
    <canvas></canvas>
</div>
{% endblock body%}