<div class="containerMenu">
    <nav>
        <ul>
            <li>
                <div class="popup closeMenu">
                    <i class="fa fa-close fa-2x"></i>
                    <span>Fechar</span>
                </div>
            </li>
            <li>
                <a href="/" class="pressable">
                    <i class="fa fa-home"></i>
                    Início
                </a>
            </li>
            <li>
                <a href="/config" class="pressable">
                    <i class="fa fa-gear"></i>
                    Configurações
                </a>
            </li>
            <li>
                <a href="/editor" class="pressable">
                    <i class="fa fa-paint-brush"></i>
                    Editor
                </a>
            </li>
            <li>
                <a href="/logout" class="pressable">
                    <i class="fa fa-sign-out"></i>
                    Sair
                </a>
            </li>
        </ul>
    </nav>
</div>