@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body{
    --background: #fefefe;
    --foreground: black;
    --border: #444;
    --action: #F6B17A;
    --spin: #E9DE92;
    --finish: #B1C78C;
    --link: #483d8b;
    --danger: #BE3144;
    &.dark{
        --background: #2c2c2c;
        --foreground: white;
    }
}

a{
    color: var(--link);
    text-decoration: none;
}

input,
button {
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
    border: 1px solid var(--border);
    outline: none;
}