@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

/* *CONFIGURAÇÕES GERAIS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    /* *LIGHT MODE */
    --background: #fefefe;
    --foreground: #123;
    --border: #444;
    --action: #F6B17A;
    --hover: #e99c5e;
    --warning: #FFD6A5;
    --success: #CBE2B0;
    --danger: #FF9B9B;
    --danger-hover: #f08a8a;
    --link: #483d8b;
    --container-size: 5rem;
    --suspense-menu-size: 5rem;

    &.dark {
        /* *DARK MODE */
        --background: #2c2c2c;
        --foreground: white;
    }

    color: var(--foreground);
}

a,
.link {
    color: var(--link);
    text-decoration: none;
    cursor: pointer;
}

.pressable {
    color: var(--foreground);
    transition: 0.2s ease-out;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
        background-color: #0001;
    }
}

.popup {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    border-radius: 1rem;
    gap: 0rem;
    color: var(--foreground);
    overflow: hidden;
    transition: .6s ease, background-color 1s ease;

    span {
        width: 0;
        opacity: 0;
        transition-delay: 1s;
        transition: 0.2s;
    }

    &:hover {
        transition: 0.2s ease-out;
        gap: .5rem;
        background-color: #0001;

        span {
            opacity: 1;
            width: 100%;
            visibility: visible;
        }
    }
}

label{
    &::before{
        content: "";
    }
}

input,
button {
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
    border: 1px solid var(--border);
    outline: none;
}

button {
    width: auto;
    background: var(--action);
    cursor: pointer;
    transition: 0.2s;
    pointer-events: all;

    &.active {
        pointer-events: none;
        opacity: .5;
    }

    &.danger{
        background-color: var(--danger);

        &:hover{
            background: var(--danger-hover);
        }
    }

    &:hover {
        background: var(--hover);
    }
}

li {
    list-style: none;
}

.toastify {
    .toast-close {
        width: auto;
        padding: 1rem;
        opacity: 1;
        color: var(--background);

        &:hover {
            background-color: transparent;
        }
    }
}

.on .toastify-top {
    top: 5px;
    right: 5px;
}

.toastify-right {
    top: 5px;
    right: 5px;
}