@import url("./base.css");

header, .container {
    &.top{
        top: 0;
        border-bottom: 1px solid var(--border);
        width: 100%;
        ul {
            flex-flow: row;
        }
    }
    &.bottom{
        border-top: 1px solid var(--border);
        bottom: 0;
        width: 100%;
        ul {
            flex-flow: row;
        }
    }
    &.left{
        top: 0;
        left: 0;
        width: 10rem;
        height: 100%;
        border-right: 1px solid var(--border);
        ul {
            flex-flow: column;
        }
    }
    &.right{
        top: 0;
        right: 0;
        width: 10rem;
        height: 100%;
        border-left: 1px solid var(--border);
        ul {
            flex-flow: column;
        }
    }
    position: fixed;
    height: var(--container-size);
    background-color: var(--background-container);
    z-index: 2;
    nav {
        width: 100%;
        height: 100%;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .toggleContainer{
                position: absolute;
                align-self: flex-end;
                width: auto;
                translate: calc(100% + 20px) 0;
                padding: .8rem;

                &.choose{
                    border-radius: 0 var(--border-radius) var(--border-radius) 0;
                }
            }

            li{
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    canvas {
        image-rendering: pixelated;
        border: 1px solid gray;
    }
}