{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="/css/game.css">
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script/Game.js" defer></script>
<script src="/script/Models.js" defer></script>
<script src="/script/View.js" defer></script>
<script src="/script/Client.js" defer></script>
{% endblock head%}
{% block body%}
<header class="suspense_menu">
    <nav>
        <ul>
            <li class="title">
                <img src="/img/light.png" alt="icone" class="logo">
                <h2>Creative</h2>
            </li>
            <li>
                {% include "module/toggleMenu.html" %}
            </li>
        </ul>
    </nav>
</header>
{% include "module/containerMenu.html" %}
<div class="display">
    <canvas></canvas>
</div>
{% endblock body%}