{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/editor.css">
{% endblock head %}

{% block body %}
<header>
    <nav>
        <ul class="container_actions">
            <li class="title">
                <i class="fa fa-paint-brush fa-2xl"></i>
                <h2>Editor</h2>
            </li>
            <li>
                {% include "module/toggleMenu.html" %}
            </li>
        </ul>
    </nav>
</header>
{% include "module/containerMenu.html" %}
<main>
    <h1>Funções de edição</h1>
    <div class="container_editor_tools">
        <a href="/editor/sprite" class="pressable card">
            <img src="/img/editor/sprite.png" alt="sprite editor example" class="example">
            <section>
                <h2>Editor de Sprites</h2>
                <p>Um editor de sprites e animações 2d.</p>
            </section>
        </a>
        <a href="/" class="pressable card">
            <img src="/img/editor/sprite.png" alt="sprite editor example" class="example">
            <section>
                <h2>Editor de tileMap</h2>
                <p>Um editor de mapas, onde a imaginação é o limite.</p>
            </section>
        </a>
    </div>
</main>
{% endblock body %}