{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/sprite.css">
<script src="/script/editor/sprite.js" defer></script>
{% endblock head %}

{% block body %}
{% include "module/toggleMenu.html" %}
<div class="container bottom">
    <nav>
        <ul>
            <li class="containerTools">
                <div class="containerToolsOptions">
                    <div class="close tool pressable">
                        <i class="fa fa-close fa-2x"></i>
                    </div>
                </div>
                <div class="popup select">
                    <img src="" alt="image tool selected">
                </div>
            </li>
            <li class="containerColor">
                <label for="color">
                    <span class="color"></span>
                </label>
                <input type="color" name="color" id="color">
            </li>
            <li class="containerRangeInput">
                <label for="range">6px</label>
                <input type="range" value="1" class="range" min="1" max="10" name="range" id="range">
            </li>
            <li class="containerFile">
                <div class="containerFileOptions">
                    <div class="close file pressable">
                        <i class="fa fa-close fa-2x"></i>
                    </div>
                    <div class="file save pressable">
                        <img src="https://cdn-icons-png.freepik.com/512/7039/7039737.png?ga=GA1.1.553086067.1740610280" alt="file save">
                    </div>
                    <div class="file config pressable">
                        <img src="https://cdn-icons-png.freepik.com/512/7039/7039819.png?ga=GA1.1.553086067.1740610280" alt="file config"> 
                    </div>
                    <div class="file delete pressable">
                        <img src="https://cdn-icons-png.freepik.com/512/7039/7039822.png?ga=GA1.1.553086067.1740610280" alt="file delete">
                    </div>
                </div>
                <div class="popup select">
                    <img src="https://cdn-icons-png.freepik.com/512/7039/7039841.png?ga=GA1.1.553086067.1740610280"
                        alt="image file">
                </div>
            </li>
            <li class="positionMouse">
                x: 0, y: 0
            </li>
        </ul>
    </nav>
</div>
{% include "module/containerMenu.html" %}
<main>
    <canvas class="gridBack"></canvas>
    <canvas class="drawFront"></canvas>
</main>
</body>
{% endblock body %}