{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/sprite.css">
<script src="/script/editor/sprite.js" defer></script>
{% endblock head %}

{% block body %}
<div class="container left">
    <nav>
        <ul>
            <li class="container_tools">
                <h2>Tools</h2>
                <div class="toggleContainer left tools pressable choose">
                    <i class="fa fa-tools fa-xl"></i>
                </div>
                <div class="container_tools_options">
                </div>
            </li>
        </ul>
    </nav>
</div>
<div class="container right">
    <div class="toggleContainerRight"></div>
    <nav>
        <ul>
            <li>
                {% include "module/toggleMenu.html" %}
            </li>
            <li>
				<span class="positionMouse">
			        x: 0, y: 0
			    </span>
			</li>		
        </ul>
    </nav>
</div>
{% include "module/containerMenu.html" %}
<main>
    <canvas></canvas>
</main>
</body>
{% endblock body %}
